@-webkit-keyframes icon-increase {
  from {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  to {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes icon-increase {
  from {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  to {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@-webkit-keyframes text-up {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    text-align: center;
    font-size: 25px;
  }
  to {
    -webkit-transform: translateY(-1000%);
            transform: translateY(-1000%);
    color: rgb(255, 238, 46);
    text-align: center;
    font-size: 22px;
  }
}
@keyframes text-up {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    text-align: center;
    font-size: 25px;
  }
  to {
    -webkit-transform: translateY(-1000%);
            transform: translateY(-1000%);
    color: rgb(255, 238, 46);
    text-align: center;
    font-size: 22px;
  }
}
@-webkit-keyframes blackout {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 0.3;
  }
}
@keyframes blackout {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 0.3;
  }
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
* a:focus,
* a:active {
  outline: none;
}
* a,
* a:visited,
* a:hover {
  text-decoration: none;
}
* ul,
* li {
  list-style: none;
}

body {
  background: rgba(253, 253, 255, 0.52);
}

.fix {
  min-width: 1600px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.header {
  height: 80px;
  background-color: #000000;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.header .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  width: 1015px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu-item:nth-child(6) {
  width: 37.44%;
  text-align: right;
}
.menu-item__link {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.menu-item__link:hover {
  color: #fc882f;
}
.menu-item .not-active {
  pointer-events: none;
  cursor: default;
  color: #fc882f;
}

.logo {
  display: block;
  width: 82px;
  height: 52px;
}
.logo-frame {
  width: 100%;
  height: 100%;
  border: 1.18841px solid #ffffff;
}
.logo-title {
  width: 72.5px;
  height: 45px;
  margin: 3.5px auto;
  font-weight: 400;
  font-size: 19px;
  color: #ffffff;
  text-align: center;
  line-height: 120%;
  position: relative;
}
.logo-title::before {
  content: "";
  background: url(../icons/bamboo.svg) 0 0 no-repeat;
  position: absolute;
  width: 12px;
  height: 21px;
  top: 20px;
  left: 5.5px;
}

.btn {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
}
.btn:hover {
  background: #e47209;
}
.btn:active {
  background: #4b9200;
}
.btn:visited {
  background: #767474;
}
.favorite .btn, .pets .btn, .feed .btn {
  border-radius: 25px;
}
.pets .btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
}
.btn-link {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn-link:hover {
  background: #e47209;
}
.btn-link:active {
  background: #4b9200;
}
.btn-form {
  width: 129px;
  height: 42px;
  border: 1px solid #d31414;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  color: #d31414;
  background: #F1F3F2;
  cursor: pointer;
}

.footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0 50px 0;
  background: #111115;
}
.footer-head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-form__title {
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  line-height: 120%;
}
.footer-form {
  margin-top: 14px;
  margin-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-form__input {
  width: 228px;
  height: 42px;
  margin-right: 10px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.7px solid #fc882f;
  border-radius: 2px;
  background: #111115;
  font-weight: 400;
  font-size: 16px;
  color: #bdbdbd;
}
.footer-bottom {
  width: 100%;
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer .menu {
  width: 362px;
  margin-left: 117px;
}
.footer-author {
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-author__link {
  font-weight: 100;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.2;
}
.footer-author__link:active {
  color: #4b9200;
  text-decoration: underline;
  opacity: 1;
}
.footer-social {
  height: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-link__img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(196, 196, 196, 0.5);
}
.footer-link__img:active {
  background: #4b9200;
}
.footer-link__name {
  margin-left: 12px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
.footer-link__name:active {
  color: #4b9200;
}