* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
* a:focus,
* a:active {
  outline: none;
}
* a,
* a:visited,
* a:hover {
  text-decoration: none;
}
* ul,
* li {
  list-style: none;
}

body {
  background: rgba(253, 253, 255, 0.52);
}

.fix {
  min-width: 1600px;
}

.conteiner {
  width: 1160px;
  margin: 0 auto;
}

.header {
  height: 80px;
  background-color: #000000;
}
.header .conteiner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  width: 1015px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu-item:last-child {
  width: 37.44%;
  text-align: right;
}
.menu-item__link {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.menu-item__link:hover {
  color: #E47209;
}

.logo {
  display: block;
  width: 82px;
  height: 52px;
}
.logo-frame {
  width: 100%;
  height: 100%;
  border: 1.18841px solid #ffffff;
}
.logo-title {
  width: 72.5px;
  height: 45px;
  margin: 3.5px auto;
  font-weight: 400;
  font-size: 19px;
  color: #ffffff;
  text-align: center;
  line-height: 120%;
  position: relative;
}
.logo-title::before {
  content: "";
  background: url(../icons/bamboo.svg) 0 0 no-repeat;
  position: absolute;
  width: 12px;
  height: 21px;
  top: 20px;
  left: 5.5px;
}

.favorite {
  padding: 12px 0 100px 0;
  background: url("../images/bg_panda.jpg") center center/cover no-repeat;
}
.favorite .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}
.favorite-circle {
  width: 465px;
  height: 465px;
  margin-right: 108.31px;
  margin-bottom: 69px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 50%;
}
.favorite-title {
  width: 500.31px;
  height: 400px;
  position: absolute;
  top: 86px;
  font-weight: 700;
  font-size: 106.496px;
  color: #ffffff;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
}
.favorite-title span {
  color: #FFEE2E;
}
.favorite .btn {
  margin-right: 108.31px;
}

.btn {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
}
.btn:hover {
  background: #E47209;
}
.btn:active {
  background: #4B9200;
}
.btn:visited {
  background: #767474;
}
.favorite .btn, .pets .btn {
  border-radius: 25px;
}

.backstage {
  padding-top: 140px;
  padding-bottom: 180px;
  position: relative;
  overflow: hidden;
}
.backstage .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.backstage-img {
  width: 52.5%;
}
.backstage-content {
  width: 40.09%;
}
.backstage-content__title {
  font-weight: 400;
  font-size: 48px;
  color: #333b41;
  margin-bottom: 20px;
  line-height: 120%;
  text-transform: capitalize;
}
.backstage-content__title span {
  text-transform: lowercase;
}
.backstage-content__subtitle {
  margin: 52px 0 32px 0;
  font-weight: 400;
  font-size: 24px;
  color: #333b41;
}
.backstage-content__text {
  font-weight: 400;
  font-size: 16px;
  color: #333b41;
  line-height: 140%;
}
.backstage-flower {
  position: absolute;
  top: 12px;
  right: -98px;
}

.pets {
  padding-bottom: 100px;
}
.pets-title {
  display: none;
}