* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  a:focus,
  a:active {
    outline: none;
  }
  a,
  a:visited,
  a:hover {
    text-decoration: none;
  }
  ul,
  li {
    list-style: none;
  }
}

body {
  background: rgba(253, 253, 255, 0.52);
}

.fix {
  min-width: 1600px;
}

.conteiner {
  width: 1160px;
  margin: 0 auto;
}

@import './base/mixin.scss';

@import './blocks/header';
@import './blocks/logo';
@import './blocks/favorite';
@import './blocks/button';
@import './blocks/backstage';
