.btn {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border: none;
  cursor: pointer;
  @include fonts(500, 16px, #ffffff);
  text-transform: uppercase;
  // transition: all 1s;
  &:hover {
    background: #e47209;
  }
  &:active {
    background: #4b9200;
  }
  &:visited {
    background: #767474;
  }
  .favorite &,
  .pets & {
    border-radius: 25px;
  }
  .pets & {
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
  }
}
