.panda-bg {
  width: 100%;
  height: 390px;
  background: url('../images/donate_page/panda_bg-min.jpg') center (center / cover) no-repeat;
}

.pick {
  padding: 40px 0 180px 0;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  &-title {
    margin-bottom: 10px;
    @include fonts(400, 36px, #ffffff);
    line-height: 130%;
    text-transform: uppercase;
  }
  &-text {
    margin-bottom: 40px;
    @include fonts(500, 16px, #ffffff);
    line-height: 140%;
  }
  &-subtitle {
    margin-bottom: 60px;
    @include fonts(400, 36px, #fe9013);
    line-height: 130%;
  }

  &-info {
    padding: 40px 92px 62px 92px;
    box-sizing: border-box;
    width: 100%;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    &__title {
      margin-bottom: 20px;
      height: 58px;
      @include fonts(400, 48px, #fe9013);
      text-align: center;
      line-height: 120%;
    }
    &__text {
      margin-bottom: 60px;
      @include fonts(400, 24px, #333b41);
      line-height: 120%;
    }

  }
}
