.header {
  height: 80px;
  background-color: #000000;
  backdrop-filter: blur(2px);
  .conteiner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu {
  width: 1015px;
  display: flex;
  justify-content: space-between;
  &-item {
    &:last-child {
      width: 37.44%;
      text-align: right;
    }
    &__link {
      @include fonts(500, 16px, #ffffff);
      &:hover {
        color: mix(#F9804B, #FE9013);
      }
    }
  }
}
